body {
  margin:0;
  text-align: center;
font-family: 'Merriweather', serif;
background-color: lightgrey;

  }



  h1 {
    margin: 50px auto 0 auto ;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: #66BFBF;
  }






h2 {
font-family: 'Montserrat', sans-serif;
font-size: 1.875rem;
color: #66BFBF;

}
h3 {

font-family: 'Montserrat', sans-serif;
color: #11999E;
}

.top-container {
  background-color: #E4F9F5;
 position:relative;
  padding-bottom: 50px;

}
.middle-container {
}

.bottom-container {
}


.skill-row {
font-size: 120%;

margin-top:-10%;
margin-left: 0;
margin-right: 0;

  text-align: left;
  font-family: Arial,sans-serif;
font-weight: bold;

}



.img-cover {
  position:relative;
  left: auto;
   right: auto;
    top: auto;
     bottom:auto;
     height: 100%;
     width: 100%;
     opacity: 60%;


}
.heading {
  position:absolute;
	top:0%;
  left:0%;
	z-index: 1;
	font-size:650%;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	color:#fff;
	margin:0;
	text-shadow:
    -4px -4px 0 #000,
    4px -4px 0 #000,
    -4px 4px 0 #000,
    4px 4px 0 #000;
}
.heading-2 {

position: absolute;
  top: 67%;
  left: 3%;
  font-size: 320%;
  font-family: 'Roboto Condensed',sans-serif;
  margin-bottom: 5%;
  color: #fff;
  z-index: 1;
  text-shadow:
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;


}
.bigger {
	font-size:200%;

}
.title_ {

	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 500%;
	margin-left:30%;
  margin-right:30%;

}
.gw {
	height:100%;
	width:60%;
	opacity:0.6;
	margin-top:0;
	position:relative;
	top:0%;
	display: inline;

}
.gw_de {
	margin-top:3%;
margin-left: 10%;
margin-right: 10%;

	font-size:120%;
	font-family: Arial,sans-serif;
	font-weight: bold;

}
.forum {
  font-size: 200%;

}
.help {

background-color: lightgrey;
}

.need{
  color: #850E35;
}
.img-back {
position:relative;
height: 25%;
left: 20%;
top: 10%;

}
.button {
  font-size: 80%;
}
.desk{
  font-family: helvetica;
}
